# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
next-env.d.ts

# production / vercel
build/
.vercel

# env
.env*.local
.env.local
.env.development.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
*.tar.gz

# typescript
*.tsbuildinfo
